@import url('https://fonts.googleapis.com/css?family=Neucha|Philosopher');

body{
	font-family: 'Philosopher', sans-serif;
}

*{
	margin: 0px;
	padding: 0px;
}

.main_container{
	background-image: url(images/background.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.container img{
	border: 10px solid white;
	border-bottom: 30px solid white;
	box-shadow: 2px 3px 5px black;
}

h1{
	color: white;
	text-shadow: 2px 3px 5px black;
	padding: 50px;
	font-size: 50pt;
	text-align: center;
}

.container{
	position: ;
	height: 800px;
}
	background-attachment: cover;
	height: 800px;
}


.foto1{
	position: absolute;
	top: 100px;
	left: 100px;
	transform: rotate(34deg);
}

.foto2{
	position: absolute;
	top: 200px;
	left: 350px;
	bottom: 400px;
	transform: rotate(93deg);
}

.foto3{
	position: absolute;
	top: 159px;
	left: 550px;
	bottom: 20px;
	transform: rotate(57deg);
}

.foto4{
	position: absolute;
	top:200px;
	left: 850px;
	bottom: 400px;
	transform: rotate(75deg);
}

.foto5{
	position: absolute;
	bottom:	500px;
	top: 400px;
	left: 250px;
	transform: rotate(56deg);
}

.foto6{
	position: absolute;
	bottom:	500px;
	top: 368px;
	left: 400px;
	transform: rotate(15deg);
}

.foto7{
	position: absolute;
	bottom:	500px;
	top: 460px;
	left: 700px;
	transform: rotate(70deg);
}

.foto8{
	position: absolute;
	bottom:	400px;
	top: 370px;
	left: 800px;
	transform: rotate(15deg);
}


.foto9{
	position: absolute;
	bottom:450px;
	top: 350px;
	left: 1000px;
	transform: rotate(89deg);
}

.container div:hover{
	z-index: 1;
	transform: rotate(0deg) scale(1.5,1.5);
}

.container div{
	position: absolute;
	transition: transform 0.5s linear;
}

#foto1_about{
	width: 700px;
	margin: 50px;
}

#foto1_about img{
	float: left;
	padding: 20px;
}

#foto6_about{
	width: 700px;
	margin: 50px;
}

#foto6_about img{
	float: left;
	padding: 20px;
}

#foto1_about p{
	padding: 20px;
	border: solid 5px;
	background-color: rgba(500, 250, 250, 0.5);
	border-image-slice: 20;
	font-size: 20pt;
	border-image: linear-gradient(to top left, #FFD9B3 0%; #FFFFFF 50%);
}


	
